.today,
.yesterday {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.today {
  background: black;
}

.today .text {
  color: white;
}

.yesterday {
  background: white;
}

.yesterday .text {
  color: white;
}

.text {
  mix-blend-mode: difference;
  margin: auto;
  font-size: 7vw;
}
